=> asi se haria para que un fichero que no se desea actualizar o guardar no nos aparezca en el terminal
=> por ejemplo si en algun proyecto tienes una foto o algun documente o archivo que simplemente no se desea realizar nada y
=> para que no nos aparezca en la terminal

**/nombreDelFichero